@body-margin: 0.5rem;
@sorting-button-width: 5rem;
body {
  margin: @body-margin;
}

.todo-adder {
  margin-top: 2*@body-margin;
}

.sorting-picker {
  padding: 0;
  margin-bottom: @body-margin;
  button {
    margin-left: @body-margin;
    width: @sorting-button-width;
  }
}
