@body-margin: 0.5rem;
@sorting-button-width: 5rem;
@id-field-width: 5rem;
@date-field-width: 7rem;

@todo-original-opacity: 1;
body {
  margin: @body-margin;
}

.todo-adder {
  margin-top: 2*@body-margin;
}

.sorting-picker {
  padding: 0;
  margin-bottom: @body-margin;
  button {
    margin-left: @body-margin;
    width: @sorting-button-width;
  }
}

.done {
  text-decoration: line-through;
  opacity: @todo-original-opacity / 2;
}

.inprogress {
  text-decoration: none;
  opacity: @todo-original-opacity;
}

.id-field {
  width: @id-field-width;
  .list-cell()
}

.date-field {
  width: @date-field-width;
  .list-cell()
}

.list-cell {
  display: block;
  text-align: center;
  overflow: hidden;
}
