@margin: 0.5rem;
@padding: 0;
@width: 5rem;
@tooltip-color: #6c757d;
@tooltip-text-color: white;
@opacity: 1;

body {
  margin: @margin;
}

.todo-adder {
  margin-top: 2 * @margin;
}

.sorting-picker {
  padding: @padding;
  margin-bottom: @margin;
  button {
    margin-left: @margin;
    width: @width;
  }
}

.done {
  text-decoration: line-through;
  opacity: @opacity / 2;
}

.inprogress {
  text-decoration: none;
  opacity: @opacity;
}

.id-field {
  width: @width;
  .list-cell()
}

.date-field {
  width: @width + 2;
  .list-cell()
}

.list-cell {
  display: block;
  text-align: center;
  overflow: hidden;
}

[data-tooltip] {
  &:hover {
    &:before, &:after {
      display: block;
      position: absolute;
      color: @tooltip-text-color;
    }
    &:before {
      border-radius: @margin / 2;
      content: attr(title);
      background-color: @tooltip-color;
      margin-top: -2.9rem;
      padding: 0.3rem;
    }
    &:after {
      content: '';
      margin-top: -2.5rem;
      margin-left: @margin;
      border-style: solid;
      border-color: transparent;
      border-top-color: @tooltip-color;
      border-width: @margin @margin 0 @margin;
    }
  }
}
